* {
  font-family: "M PLUS 1p", sans-serif;
  box-sizing: border-box;
}

html,
body {
  position: absolute;
  margin: 0;
  padding: 0 !important;
  top: 0 !important;
  left: 0;
  overflow: hidden;
  width: 100vw;
  background: #fcfbf9;
  color: #222;
  height: 100vh;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

html {
  font-family: "M PLUS 1p", sans-serif;
  font-size: 100%;
  line-height: 1.2;
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
  font-variant-ligatures: common-ligatures;
  font-size: 16px;
}

body {
  margin: 0;
  font-family: "M PLUS 1p", sans-serif;
  background-color: #fcfbf9 !important;
  /* color: rgba(255, 255, 255, 0.5); */
  height: 100vh;
}

a {
  text-decoration: none !important;
  color: rgba(255, 255, 255, 0.5);
}

nav .global {
  position: relative;
  padding: 0 60px 30px;
  z-index: 100;
  transition: transform 0.5s cubic-bezier(0.28, 0, 0.18, 1);
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
}

.navbar.fixed-top {
  top: 76px !important;
}

nav.global div.main.left {
  float: left;
}

nav.global div.main {
  position: relative;
  margin-top: 60px;
}

nav.global div.main.left li {
  margin-right: 24px;
}

nav.global div.main li {
  float: left;
  margin-right: 30px;
}

.minHeightContainer {
  min-height: 80vh;
}

.shipping {
  background-color: black;
  max-height: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.shippingText {
  color: white;
  text-align: center;
  font-weight: 700;
  margin: 0;
}

.carousel .slide .carousel-fade {
  position: fixed;
  top: 75px;
}

.carousel-item {
  height: calc(100vh - 75px);
}

@media (max-width: 1280px) {
  html {
    font-size: 14px !important;
  }
}

@media (max-width: 1440px) {
  html {
    font-size: 14px !important;
  }
}
